---
styles:
 - basic.css
---
{% extends "base.njk" %}
{% block layout %}
<header>
  <nav>
    <ul>
      <li><a href="/">Beranda</a></li>
      <li><a href="/hal/tentang">Tentang</a></li>
      <li><a href="/hal/kontak">Kontak</a></li>
    </ul>
  </nav>
</header>
<main>
  {{ content | safe }}
</main>
<footer>
  <small>© 2023</small>
</footer>
{% endblock %}