<footer>
  <h2 id="kontak">Kontak</h2>
  <div id="contact-info">
    <h3>Alamat</h3>
    <p>
      Jalan Parangtritis Km.24,5 RT 002 Dusun Grogol VIII, Desa Parangtritis, Kapanewon Kretek,
      Kabupaten Bantul, Daerah Istimewa Yogyakarta. 55772
    </p>
    <h3>Email</h3>
    <p><a href="mailto:komunitas.bukuberbagi@gmail.com">komunitas.bukuberbagi@gmail.com</a></p>
    <h3>Whatsapp</h3>
    <ul>
      <li><a href="https://wa.me/087777175391">+62-877-7717-5391</a></li>
      <li><a href="https://wa.me/087742360135">+62-877-4236-0135</a></li>
    </ul>
    <h3>Instagram</h3>
    <p><a href="https://www.instagram.com/bukuberbagi.id">@bukuberbagi.id</a></p>
  </div>
  <small>© 2023</small>
</footer>
