<header>
  <a href="/" id="logo">
    <img src="/images/Logo BB.png" alt="Buku Berbagi" width="60" height="60" />
  </a>
  <nav>
    <ul>
      <li><a href="/">Beranda</a></li>
      <li><a href="/hal/tentang">Tentang</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/hal/gabung">Gabung</a></li>
    </ul>
  </nav>
</header>
