---
styles:
  - basic.css
---
{% extends "base.njk" %}
{% block layout %}
{% include "header.njk" %}
<main class="main">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</main>
{% include "footer.njk" %}
{% endblock %}