---
layout: post.njk
title: Blog Buku Berbagi
description: Kumpulan tulisan dari Kawan Buku Berbagi
styles:
  - post-list.css
---
<ul>
{% for pos in collections.pos | reverse %}
  <li>
    <a href="{{ pos.url }}"><h2>{{ pos.data.title }}</h2></a>
    <p class='date'>
      {{
        pos.page.date.toLocaleDateString('id-ID', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
      }}
    </p>
    <p>{{ pos.data.description }}</p>
  </li>
{% endfor %}
</ul>