---
layout: basic.njk
---
<h1>Komunitas Buku Berbagi</h1>

<h2>Siapa kami?</h2>
<p>
  Lahir pada 10 September 2017, Komunitas Buku Berbagi berfokus pada aksi literasi,
  melalui pembangunan taman baca, sekaligus kegiatan kreatif dengan melibatkan peran buku dan taman baca.
  Pusat kegiatan kami berada di Pesisir Parangkusumo, yang dikenal sebagai kawasan lokalisasi di Yogyakarta.
</p>

<h2>Kenapa kami ada?</h2>
<p>
  Buku Berbagi tergerak dari sebuah iman bahwa adanya kesulitan akses buku
  bagi masyarakat yang jauh dari pusat kota, dan golongan ekonomi bawah.
  Anak usia dini di pesisir dan perkampungan menjadi tak kenal buku, kecuali buku pelajaran sekolah.
  Sedangkan, banyak sumber ilmu pengetahuan di luar buku ajar.
</p>
<p>
  Membawa visi tumbuhnya budaya membaca,
  Buku Berbagi mengerjakan misinya untuk menyediakan taman baca,
  mengajak masyarakat setempat dalam mengelola taman baca,
  merancang kegiatan kreatif di taman baca,
  aktivitas forum diskusi tematik,
  mendukung riset seputar literasi,
  dan menjalin kemitraan lintas bidang keahlian.
</p>

<h2>Apa yang kami lakukan?</h2>

<h3>Pembangunan dan Pengelolaan Taman Baca</h3>
<p>
  Kami mendorong terbentuknya kemudahan akses kebutuhan literasi di desa dan pesisir
  dengan cara mendistribusikan donasi buku bacaan dan alat tulis
  kepada taman baca yang memerlukan dukungan.
  Pada saat ini, kami telah melakukan pembangunan dan pengelolaan Taman Baca Buku Berbagi dengan lokasi:
</p>
<ul>
  <li>Garduaction, Pesisir Parangkusumo, RT 02 Dusun XI Mancingan, Desa Parangtritis, Kretek, Bantul, Yogyakarta.</li>
  <li>Jalan Parangtritis Km 24,5 RT 02 Dusun Grogol VIII, Desa Parangtritis, Kretek, Bantul, Yogyakarta.</li>
  <li>RT 05 Dusun Mangsan, Desa Kebonagung, Imogiri, Bantul, Yogyakarta.</li>
</ul>
<p>
  Taman Baca Buku Berbagi bertempat di rumah warga dan komunitas setempat
  dengan tujuan kemudahan akses kunjungan hingga aktivitas yang akan terjadi.
  Pembangunan taman baca tidak berhenti pada pengadaan ruangan yang memuat koleksi buku.
  Kami merawat keberlanjutan dari pembangunan taman baca dengan kegiatan kreatif dalam pengelolaannya.
</p>

<h3>Program Sunday Sharing and Caring</h3>
<p>
  Kami mengupayakan kegiatan-kegiatan dilakukan di taman baca dengan melibatkan peran buku.
  Buku Berbagi menjalankan program Sunday Sharing Caring pada hari Minggu, pukul 15.00 - 17.00 WIB
  dengan diikuti oleh anak usia dini yang tinggal di sekitar taman baca,
  beserta relawan setempat dan mereka yang datang dari luar daerah.
</p>
<p>
  Kami memanfaatkan 20-30 menit pertama untuk membaca buku.
  Mengambil jeda dengan kegiatan ibadah salat asar berjemaah dan makan bersama.
  Selepas istirahat, kami akan melanjutkan kegiatan belajar sambil bermain sesuai dengan tema yang telah terjadwal,
  misalnya melukis, kolase, atau crafting berbahan sampah anorganik.
</p>
