---
layout: basic.njk
styles:
  - gabung.css
title: Bergabung Bersama Buku Berbagi
description: Buku Berbagi mengundang setiap diri manusia yang hendak merawat kehidupan bersama kami.
---
<div class="main">
  <h1>Kawan Buku Berbagi</h1>
  <p>
    Menjadi Kawan Buku Berbagi bagi mereka yang berkomitmen
    untuk memberikan dukungan pada aksi literasi  yang dilaksanakan oleh Komunitas Buku Berbagi.
    Membagikan sebagian energi supaya terdapat ruang untuk menerima energi baru,
    menjadi satu-satunya hal sederhana yang mampu Buku Berbagi tawarkan
    pada setiap pemilik hati yang berkenan tergabung dalam Kawan Buku Berbagi
  </p>

  <h2>Menjadi Tim Buku Berbagi</h2>
  <p>
    Buku Berbagi mengundang setiap diri manusia yang hendak merawat kehidupan bersama kami.
    Tanpa syarat apapun, kecuali melakukan dengan hati yang penuh,
    sekaligus tanpa mempertanyakan timbal-balik, sebab jawabannya hanya mampu diperoleh dari dalam diri sendiri.
  </p>

  <div class="card-container">
    <div class="card">
      <h3>Relawan</h3>
      <p>
        Keputusan menjadi seorang relawan merupakan cara terbaik mengenal diri sendiri.
      </p>
      <p>
        Berproses dalam pendampingan di lapangan
        akan menghadirkan pengalaman yang meningkatkan kapasitas dan nilai diri dalam kehidupan.
      </p>
      <p>
        Buku Berbagi terbuka bagi setiap individu yang ingin bergabung sebagai relawan.
      </p>
      <a href="https://forms.gle/9PqHCVSD9WjW5FEm6">Daftar Relawan</a>
    </div>

    <div class="card">
      <h3>Kolaborasi</h3>
      <p>
        Organisasi akan berkembang dan maju ketika terdapat keinginan untuk berinteraksi dengan organisasi lain.
      </p>
      <p>
        Kolaborasi pasti akan menambah referensi dalam memandang suatu permasalahan organisasi,
        hingga mampu mengambil langkah inovatif dan mendapatkan solusi yang tepat.
      </p>
      <p>
        Buku Berbagi terbuka bagi komunitas dan instansi dalam pelaksanaan program kerja aksi literasi.
      </p>
      <a href="#kontak">Rencana Kolaborasi</a>
    </div>

    <div class="card">
      <h3>Kemitraan</h3>
      <p>
        Menjalin kemitraan lintas organisasi dan bidang keahlian dalam jangka waktu tertentu,
        menjadi langkah strategis untuk mendorong terciptanya peningkatan taraf literasi nasional.
      </p>
      <p>
        Buku Berbagi turut membersamai pembangunan berkelanjutan, terbuka kemitraan jangka panjang,
        guna menemukan langkah strategis yang dapat mendukung pelaksanaan aksi literasi.
      </p>
      <a href="#kontak">Tawarkan Kemitraan</a>
    </div>

    <div class="card">
      <h3>Donasi</h3>
      <p>
        Keterlibatan Anda dalam keikutsertaan mendukung ketersediaan sarana untuk pelaksanaan aksi literasi,
        akan sangat berarti bagi kegiatan Buku Berbagi.
      </p>
      <p>
        Program-program kami memerlukan dukungan berupa:
        buku bacaan anak, alat peraga edukasi, peralatan tulis dan gambar, logistik dapur umum, dana,
        dan sebagainya yang dapat disesuaikan dengan kondisi teraktual.
      </p>
      <a href="#kontak">Kirim Donasi</a>
    </div>
  </div>

  <h2>Kata Kawan Berbagi</h2>

  <blockquote>
    <p>
      Menurut aku arti bahagia itu mempunyai tujuan dan harapan.
      Dan di sinilah kebahagian itu aku liat di Buku Berbagi
      karena di sini banyak anak-anak dengan tujuan dan harapan yang besar dengan membaca buku.
      Semangat anak pesisir.
    </p>
  </blockquote>
  <p>Agus Susanto</p>

  <blockquote>
    <p>
      Senang memiliki keluarga baru. Tetap optimis, positif, dan semangat.
    </p>
  </blockquote>
  <p>Aji Setyadi</p>

  <blockquote>
    <p>
      Program <span lang="en">Sunday Sharing and Caring</span> mendidik sekali
      dan memberikan banyak pengalaman baru di luar aktivitas sehari-hari saya selama ini.
      Tak hanya sekedar menikmati dan menghirup udara pantai tetapi lebih dari itu.
      Senang menjadi bagian dari kehidupan mereka.
    </p>
  </blockquote>
  <p>Anisa Sejati</p>

  <blockquote>
    <p>
      Pada dasarnya aku suka anak-anak, ketika gabung bersama buku berbagi, aku langsung nyaman.
      Apalagi ada Kawan Berbagi dari berbagai kalangan yang bikin Buku Berbagi makin hidup dan berwarna.
    </p>
  </blockquote>
  <p>Anung Prabowo</p>

  <blockquote>
    <p>
      Di Buku Berbagi aku menemukan wadah untuk menghidupi hidup.
      Menjadi bagian dari Buku Berbagi adalah salah satu caraku untuk menjadi manusia yang bermanfaat bagi sesama.
    </p>
  </blockquote>
  <p>Ardha Kesuma</p>

  <blockquote>
    <p>
      Keren banget main bareng sama anak-anak di Garduaction.
      Berasa banget kalo aku begitu ditunggu dan dibutuhin kedatangannya.
      Selain itu, lebih ngerasa bermanfaat buat sesama. Cobain gabung yuk, gak bakalan nyesel!
    </p>
  </blockquote>
  <p>Dhian Catur Rini</p>

  <blockquote>
    <p>
      Bersyukur banget bisa menjadi bagian Buku Berbagi.
      Bagi saya, Buku Berbagi adalah kegiatan yang mulia,
      kita dapat mewujudkan kepedulian terhadap sesama terutama bagi orang-orang yang sangat membutuhkan.
    </p>
  </blockquote>
  <p>Dyah Uswatun</p>

  <blockquote>
    <p>
      Buku Berbagi ialah tempat berbagi ilmu dan berbagi asa.
      Layak disebut rumah bukan hanya sekedar tempat singgah. Layaknya keluarga, tempat berbagi cerita.
      Tawa hangat nan polos dapat menjadi pengisi energi ketika tubuh ini sudah mulai letih akan penatnya kehidupan.
      Pesan: Teruslah berkarya dan bermanfaat untuk setiap nafas yang ada di alam semesta. Jayalah!
    </p>
  </blockquote>
  <p>Endah Nur Hayati</p>

  <blockquote>
    <p>
      Buku Berbagi menjadi bagian dari calon-calon orang hebat. Di sinilah belajar arti bahagia.
      Terimakasih sudah menjadi keluarga baru. Tawa-tawa kalianlah yang menjadi warna-warni kehidupan sesungguhnya.
    </p>
  </blockquote>
  <p>Febriana</p>

  <blockquote>
    <p>
      Ternyata belajar tidak melulu kau dapat dari hasil duduk manis lalu mendengarkan perkataan dosen di kelas,
      atau mendengar dengan baik intruksi senior di tempat kamu bekerja.
      Di sini, di Buku Berbagi pelajaran-pelajaran menakjubkan bisa kamu dapat dari tiga hal yang tak terduga
      yaitu anak-anak pesisir, sampah, dan alam. Bangga bisa menjadi bagian dari Buku Berbagi.
    </p>
  </blockquote>
  <p>Febri Herlina</p>

  <blockquote>
    <p>
      Buku berbagi adalah ruang bersilaturrasa, ruang bersama tumbuh, berkembang baik serta bekerja; cintanya.
    </p>
  </blockquote>
  <p>Fergiawan Martha Putra</p>

  <blockquote>
    <p>
      Buku berbagi adalah suatu wadah untuk saya belajar dan mengenal bagaimana cara belajar dengan menyenangkan.
      Banyak hal positif yang dapat ditemukan disana.
      Hal yang paling menarik adalah ketika melihat anak-anak belajar dengan tawa dan canda.
      Semoga tetap menyenangkan dan tak akan hilang ditelan jaman.
    </p>
  </blockquote>
  <p>Gilang Pamungkas</p>

  <blockquote>
    <p>
      Terimakasih Buku Berbagi telah menjadi jembatan untuk saya
      dalam menemukan salah satu impian saya yaitu "mengajar".
      Terimakasih sudah menjadi keluarga baru serta melengkapi salah satu perjalanan saya.
    </p>
  </blockquote>
  <p>Kunto Wibisono</p>

  <blockquote>
    <p>
      Buku berbagi adalah caraku bersyukur, tentang polos canda serta karya mereka yang memecah kemurungan Semesta.
      Sudah menjadi tanggunganku menjaga pelik nyala yang asa dalam kepalan-kepalan kecil mereka.
    </p>
  </blockquote>
  <p>Lambang Bayu Segoro</p>

  <blockquote>
    <p>
      Selama aku ikut kegiatan dengan Buku Berbagi, selalu seneng karena bisa berbagi, belajar, dan bermain bersama.
    </p>
  </blockquote>
  <p>Nataniel Evran Gilang Prakoso</p>

  <blockquote>
    <p>
      Hidup tak akan pernah bermakna, ketika kita terus terdiam tanpa berpijak pada alas mana pun.
      Seperti halnya orang bodoh yang tak ingin belajar, maka ia akan tetap bodoh!
    </p>
  </blockquote>
  <p>Nurjannah</p>

  <blockquote>
    <p>
      Berada di Buku Berbagi membuatku sadar akan hal disayangi, dicintai, dan dikasihi.
      Buku Berbagi adalah wadah untuk berbagi ilmu, bercerita tentang pengalaman,
      dan satu yang bikin saya bahagia adalah bisa bertemu dengan anak-anak yang membuat ku mengenal banyak rasa.
      Semoga kedepanya Buku Berbagi bisa lebih baik, bagus, dan bermanfaat untuk semua orang.
    </p>
  </blockquote>
  <p>Riranda Eddo Juniar</p>

  <blockquote>
    <p>
      Di mataku Buku Berbagi itu komunitas yang kecil tapi ada di tempat yang tepat.
      Permasalahan sosialnya tepat untuk Buku Berbagi ada di sana.
      Sekalipun fungsinya/kinerjanya belum maksimal
      yang mungkin soal para pendamping masih perlu belajar jadi pendamping.
      Tapi namanya juga hidup, aku menghargai proses kita semua.
      Kita bagus udah jalanin, pasti udah berproses juga seberapapun itu.
      Dan terlepas dari rentengan nama lembaga beken yang pernah duet sama dengan Buku Berbagi,
      bagiku pencapaian terbaik Buku Berbagi adalah pada bagian Buku Berbagi sudah berdiri
      dan tetap ada sampai sekarang.
      Bangga ketika kegiatan kita yang bermanfaat berhasil disukai dan dikangenin adik-adik.
    </p>
  </blockquote>
  <p>Styan Lintang</p>

  <blockquote>
    <p>
      Bersyukur banget sih bisa gabung di Buku Berbagi. Sedikit berbagi tapi mungkin besar buat mereka.
      Merasa bangga menjadi bagian dari perubahan.
    </p>
  </blockquote>
  <p>Silviana Dewi</p>

  <blockquote>
    <p>
      Buku Berbagi menyadarkan saya
      bahwa masa depan yang lebih baik bukanlah sekedar utopia yang sulit untuk diwujudkan.
      Bersama mereka saya merasa menjadi bagian dari gerakan perubahan yang sangat besar.
    </p>
  </blockquote>
  <p>Yanuar Amri Yusroni</p>

  <h2>Kolaborator</h2>
  <ul class="image-list">
    <li>
      <img
        src="../../images/Logo Garduaction.jpg"
        alt="Garduaction"
        width="100"
        loading="lazy"
      />
    </li>
    <li>
      <img
        src="../../images/Logo GM.jpg"
        alt="Gadjah Mada Menginspirasi"
        width="100"
        loading="lazy"
      />
    </li>
    <li>
      <img
        src="../../images/Logo Kids Club Indonesia.jpg"
        alt="Kids Club Indonesia"
        width="100"
        loading="lazy"
      />
    </li>
    <li>
      <img
        src="../../images/Logo KPN.jpg"
        alt="Kapal Pemuda Nusantara"
        width="100"
        loading="lazy"
      />
    </li>
    <li>
      <img
        src="../../images/Logo Lemari Buku Buku.jpg"
        alt="Lemari Buku-Buku"
        width="100"
        loading="lazy"
      />
    </li>
    <li>
      <img
        src="../../images/Logo Lentera Harapan.jpg"
        alt="Lentera Harapan"
        width="100"
        loading="lazy"
      />
    </li>
    <li>
      <img 
        src="../../images/Logo PI.jpg"
        alt="Pendaki Indonesia"
        width="100"
      loading="lazy"
      />
    </li>
  </ul>
</div>