:root {
  --color-neutral-light: #fefefa;
  --color-neutral-dark: #1b1b00;
  --color-primary: #f90706;
  --color-secondary: #0659fe;
  --color-secondary-dark: #141496;
  --color-tertiary: #ddae44;
  --color-tertiary-light: #ffff77;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: var(--color-neutral-light);
  color: var(--color-neutral-dark);
}

h1, h2, h3, h4, h5, h6 {
  max-width: 50ch
}

main {
  margin-bottom: 4em;
}

p, li {
  max-width: 80ch;
  line-height: 1.6;
}

ul, ol {
  list-style-position: inside;
  padding: 0;
}

p + ul, p + ol {
  margin-top: 0;
}

li + li {
  margin-top: 0.5em;
}

blockquote {
  margin: 0;
  font-style: italic;
}

blockquote p {
  margin: 0;
}

blockquote + p {
  margin-top: 0;
}

blockquote + p::before {
  content: '~ ';
}

details {
  border: solid 1px var(--color-neutral-dark);
  padding: 1em 1em 0;
}

summary {
  margin: -1em -1em 0;
  padding: 1em;
  font-weight: 600;
}

details[open] summary {
  border-bottom: solid 1px var(--color-neutral-dark);
}

span[lang] {
  font-style: italic;
}

.btn {
  display: inline-block;
  vertical-align: center;
  background-color: var(--color-primary);
  color: var(--color-neutral-light);
  padding: 0.75em 1.5em;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 0.2em;
  border: solid 2px var(--color-neutral-dark);
}

.btn:hover {
  background-color: var(--color-tertiary);
}