header, footer {
  padding: 0 1.5em;
}

header {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--color-neutral-light);
  z-index: 1;
}

nav ul {
  padding: 1em 0;
  margin: 0;
  text-align: end;
}

nav li {
  display: inline;
}

nav li + li {
  margin-left: 0.5em;
}

h1 {
  padding-top: 5em;
}

h2 {
  margin-top: 4em;
}

.main {
  max-width: fit-content;
  padding: 0 1.5em;
  margin: auto;
}
