header {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--color-neutral-light);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em;
}

#logo {
  display: flex;
  align-items: center;
}

nav ul {
  padding: 1em 0;
  margin: 0;
  text-align: end;
}

nav li {
  display: inline;
}

nav li + li {
  margin-left: 1em;
}

nav a {
  color: var(--color-neutral-dark);
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  border-bottom: solid 3px var(--color-secondary-dark);
}

h1 {
  padding-top: 5em;
}

h2 {
  margin-top: 4em;
}

.main {
  max-width: fit-content;
  padding: 0 1.5em;
  margin: auto;
}

footer {
  background-color: var(--color-secondary-dark);
  color: var(--color-neutral-light);
  padding: 4em 1.5em 0 1.5em;
  font-size: smaller;
}

footer h2 {
  color: var(--color-tertiary-light);
  margin-top: 0;
}

footer a {
  color: var(--color-tertiary-light);
}

small {
  display: block;
  margin-top: 3em;
}

#contact-info {
  columns: 2;
  column-gap: 3em;
}

#contact-info h3 {
  margin: 0;
}

@media screen and (max-width: 615px) {
  #contact-info {
    columns: unset;
  } 
}
