.card-container {
  max-width: 80ch;
  display: flex;
  flex-direction: column;
  row-gap: 1em
}

.card {
  border: solid 1px #000000;
  border-radius: 5px;
  padding: 1em;
}

.card h3 {
  max-width: initial;
}

.card a {
  display: block;
}

.card h3, .card a {
  text-align: center;
}

.image-list {
  max-width: 75ch;
  list-style: none;
  text-align: center;
}

.image-list li {
  margin: 1em;
  display: inline-block;
}

@media screen and (min-width: 810px) {
  .card-container {
    flex-direction: row;
    column-gap: 0.5em
  }

  .card {
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }

  .card p {
    margin-top: 0;
  }

  .card a {
    margin-top: auto;
  }
}
