---
layout: basic.njk
styles:
  - beranda.css
scripts:
  - beranda.js
---
<h1>Menjadi Tim Buku Berbagi</h1>
<p>
  Buku Berbagi mengundang setiap dari manusia yang hendak merawat kehidupan bersama kami.
  Tidak ada syarat apapun, kecuali melakukan dengan hati yang penuh,
  sekaligus tanpa mempertanyakan jenis timbal balik,
  sebab jawabannya hanya mampu diperoleh dari dalam diri sendiri.
</p>
<a href="/hal/kontak">Daftar sekarang</a>
