---
layout: basic.njk
styles:
  - beranda.css
scripts:
  - beranda.js
---
<h1>Bersama Buku Berbagi, <br />Mari Merawat Bara Literasi!</h1>
<a href="/gabung">Berani Gabung</a>
<p>
  Buku Berbagi sedang melakukan pembukaan pendaftaran relawan
  untuk fokus pada pelaksanaan aksi literasi
  di Pesisir Parangkusumo, dan Desa Kebonagung, Imogiri, sepanjang tahun 2023.
</p>

<h2>Tanya-Jawab Seputar Buku Berbagi</h2>

<h3>Kapan Buku Berbagi dibentuk?</h3>
<p>Minggu, 10 September 2017</p>

<h3>Apa latar belakang terbentuknya Buku Berbagi?</h3>
<ul>
  <li>Adanya kesulitan akses buku bagi wilayah yang jauh dari pusat kota, dan kelompok ekonomi bawah;</li>
  <li>Sebagian besar anak usia dini di wilayah perkampungan hanya mengenal jenis buku pelajaran sekolah;</li>
  <li>Layanan perpustakaan keliling tanpa menyajikan kegiatan kreatif.</li>
</ul>

<h3>Apa arti nama Buku Berbagi?</h3>
<p>
  Kami memaknai literasi tidak terbatas pada baca-tulis,
  namun dua hal tersebut menjadi utama karena memiliki peran kunci dalam pembentukan diri seseorang.
  Literasi sebagai bekal seseorang dalam membentuk proses berpikir,
  hingga kesadaran dalam bersikap dan berperilaku tanpa merendahkan lingkungan sekitar.
  Pembentukan nilai diri yang tumbuh beriringan dengan ketahanan mental,
  bahkan bisa diperoleh ketika seseorang mampu mengakses referensi melalui membaca dan menulis.
  Buku Berbagi sebagai bentuk refleksi bahawa melalui buku, seseorang sedang berbagi lebih banyak hal.
</p>

<h3>Apa visi dan misi Buku Berbagi?</h3>
<p>
  Buku Berbagi fokus pada aksi literasi di tingkat akar rumput.
  Impian besar kami, aksi literasi di akar rumput mampu
  berkontribusi dalam peningkatan taraf literasi nasional, bahkan global.
  Kami terus berproses mengerjakan misi:
</p>
<ul>
  <li>menyediakan taman baca atau mendukung taman baca di tingkat desa dan komunitas;</li>
  <li>melibatkan masyarakat setempat dalam pengelolaan taman baca;</li>
  <li>mendampingi anak usia dini untuk lebih dekat dengan buku;</li>
  <li>melakukan kegiatan kreatif di taman baca;</li>
  <li>menulis dan menerbitkan karya berdasarkan fakta dan pengalaman;</li>
  <li>menjalin kemitraan lintas bidang.</li>
</ul>

<h3>Apakah Buku Berbagi akan memberi pengaruh dalam sektor pendidikan Indonesia?</h3>
<p>
  Bisa dibilang hal itu salah satu impian besar kami,
  hanya saja untuk saat ini akan terkesan berlebihan
  kalau mengklaim diri sebagai tim yang sudah berkontribusi dalam dunia pendidikan Bangsa Indonesia.
  Lingkaran pengaruh dan jangkauan kami masih kecil, tapi diupayakan tersebar.
  Kami punya anggapan bahwa justru mulai merawat hal-hal kecil yang paling dekat dengan keseharian kita
  adalah acara paling tepat buat terciptanya hal-hal yang besar.
</p>

<h3>Di mana basecamp Buku Berbagi?</h3>
<p>
  Titik kumpul utama kami berada di <abbr>Garduaction</abbr> (<span lang="en">Garbage Care and Education</span>)
  yang merupakan tempat pengelolaan sampah di kawasan wisata Pantai Parangkusumo, Yogyakarta.
  <abbr>Garduaction</abbr> memiliki area taman dengan properti yang terbuat dari daur ulang sampah anorganik
  yang kami gunakan untuk berkegiatan.
</p>

<h3>Apakah Buku Berbagi memiliki taman baca?</h3>
<p>
  Ya, Buku Berbagi memiliki taman baca di <abbr>Garduaction</abbr>, Desa Kebonagun, dan Desa Parangtritis.
</p>

<h3>Apa saja program kerja Buku Berbagi?</h3>
<p>
  Program tetap kami bernama <span lang="en">Sunday Sharing and Caring</span>
  yang berupa kegiatan untuk anak-anak usia dini.
  Rentang umur mereka pada angka 5 - 12 tahun atau setara usia TK - awal SMP yang tinggal di sekitar taman baca.
  <span lang="en">Sunday Sharing and Caring</span> juga dilakukan di luar Taman Baca Buku Berbagi
  dengan jadwal sesuai keperluan atau ketika ada gagasan dan rekomendasi dari relasi Buku Berbagi.
</p>

<h3>Apakah <span lang="en">Sunday Sharing and Caring</span> hanya diadakan pada hari Minggu saja?</h3>
<p>Ya, seperti namanya, hanya pada hari Minggu.</p>

<h3>Gambaran kegiatan <span lang="en">Sunday Sharing and Caring</span> itu seperti apa ya?</h3>
<p>
  Pertemuan antara kakak relawan Buku Berbagi dan adik-adik asuhnya
  diawali dengan kegiatan membaca buku yang tersedia.
  Setelah berjalan 20 - 30 menit akan ada refleksi dengan bercerita mengenai buku yang dibaca.
  Pertemuan dilanjutkan dengan permainan edukasi
  atau aktifitas <span lang="en">crafting</span> dengan bahan baku sampah anorganik.
</p>

<h3>
  Selain membaca buku, permainan edukasi, dan aktivitas <span lang="en">crafting</span>,
  apakah ada kegiatan <span lang="en">Sunday Sharing and Caring</span> edisi khusus?
</h3>
<p>
  Ada. Biasanya berupa lomba, kunjungan ke museum, atau pentas seni.
  Kegiatan tersebut tergantung pada donatur yang menginginkan dibuatkan acara khusus untuk adik-adik asuh kami.
</p>

<h3>Apa benar Buku Berbagi <span lang="en">concern</span> pada anak-anak usia dini?</h3>
<p>
  Bisa dibilang seperti itu.
  Kami mempunyai pandangan bahwa hal terpenting yang bisa diselamatkan oleh bangsa ini
  adalah anak-anak usia dini si calon penyelamat bangsa itu sendiri.
</p>

<h3>Ada berapa jumlah anak-anak yang didampingi oleh Buku Berbagi?</h3>
<p>
  Setiap kegiatan yang datang sekitar 25 anak.
  Separuh dari mereka memang belum rutin hadir karena berbagai hal.
  Salah satu yang menjadi tantangan kami
  karena pilihan mereka pada menonton televisi dan membantu orang tua berjualan
  supaya mendapat tambahan uang jajan.
</p>

<h3>Selain pendampingan pada anak usia dini, hal lain apa yang sudah dikerjakan oleh Buku Berbagi?</h3>
<ul>
  <li>
    Pemeliharaan dan pengelolaan taman baca
    di <abbr>Garduaction</abbr>, Desa Kebonagung, dan Desa Parangtritis;
  </li>
  <li>Distribusi buku dari calon donatur buku kepada taman baca yang membutuhkan;</li>
  <li>Mengelola Literaswara <span lang="en">Podcast</span>;</li>
  <li>
    Galang dana penjualan 120 <span lang="en">block note</span> oleh soresore.yk
    untuk dana operasional Buku Berbagi;
  </li>
  <li>
    Galang dana “Lagu untuk Palu” berupa aktivitas mengamen
    pengadaan buku dan alat peraga edukasi kepada korban gempa bumi Palu, Sulawesi Utara;
  </li>
  <li>
    Galang dana “Berbagi untuk Si Kembar”
    berupa pengumpulan dana online pengadaan bacaan novel dan bahan kerajinan tangan
    untuk dikirim ke kawan putus sekolah yang tinggal di Pulau Kemujan, KarimunJawa, Jawa Tengah;
  </li>
  <li>
    Galang dana pengadaan pakaian dalam
    untuk mendukung anak-anak pesisir Parangkusumo dapat berpakaian dengan aman;
  </li>
  <li>Operasional dapur umum setiap kegiatan <span lang="en">Sunday Sharing and Caring</span>;</li>
  <li>Forum diskusi tematik bagi para relawan.</li>
</ul>

<h3>Hal-hal atau pencapaian apa saja yang sudah diperoleh Buku Berbagi?</h3>
<ul>
  <li>
    Penelitian <span lang="en">social enterprises</span>
    "Mendukung Peningkatan Produktivitas Tenun Ikat Tradisional Masyarakat Semau
    Melalui Peningkatan Kualitas Tenun, Inovasi, Pengadaan Bahan Baku, Pewarnaan Alam dan Digitalisasi Marketing"
    di Desa Uiasa, Semau, Kupang, Nusa Tenggara Timur
    dengan dana hibah dari <span lang="en">United Nations Development Programme</span> (<abbr>UNDP</abbr>) Indonesia
  </li>
  <li>Pemenang pertama lomba video “Pahlawan Muda” yang diselenggarakan oleh IndiHome.</li>
</ul>

<h3>Kebutuhan apa saja yang diperlukan dalam menunjang kegiatan Buku Berbagi?</h3>
<ul>
  <li>Buku original kategori bacaan anak dan umum, kecuali buku pelajaran</li>
  <li>Rak buku</li>
  <li>Sampul buku</li>
  <li>Tikar</li>
  <li>Papan tulis</li>
  <li>Alat tulis: buku tulis, pulpen, pensil, penggaris,penghapus, rautan, meja tulis, dan lainnya</li>
  <li>Alat gambar dan lukis: buku gambar, kertas gambar, pensil warna, crayon warna, cat, kuas, dan lainnya</li>
  <li>Alat dan bahan keterampilan: kertas origami, pernak-pernik kerajinan tangan, gunting, lem, dan lainnya</li>
  <li>Uang</li>
</ul>

<h3>Bagaimana cara Buku Berbagi memenuhi kebutuhan tersebut?</h3>
<p>Mebuka donasi</p>

<h3>Bagaimana cara berdonasi pada Buku Berbagi?</h3>
<ol>
  <li>Konfirmasi jenis donasi</li>
  <li>Pengiriman donasi memakai jasa ekspedisi atau bertemu dengan tim Buku Berbagi pada tempat yang disepakati</li>
  <li>Bisa juga langsung mengantar donasi ke <abbr>Garduaction</abbr></li>
</ol>

<h3>Berapa jumlah anggota Buku Berbagi</h3>
<p>Kami dibersamai sekitar 20 relawan</p>

<h3>Bagaimana cara menjadi anggota Buku Berbagi</h3>
<ol>
  <li>Langsung bergabung dan aktif dalam <span lang="en">Sunday Sharing and Caring</span> di <abbr>Garduaction</abbr></li>
  <li>Melakukan pendaftaran pada penyelenggaraan <span lang="en">open recruitment</span> setiap awal tahun</li>
</ol>
